{% extends "meetups/base/base.html" %}

{% load static %}

{% block title %} You registered successfully! {% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'meetups/registration-confirmation.css' %}">
{% endblock %}


{% block main_block_heading %} Thanks for signing up!  {% endblock %}


{% block content %}

<section id="confirmation">
    <h2>You registered successfully!</h2>
    <p>Thanks for signing up - see you at the meetup!</p>
</section>

<section id="continue">
  <p>Of course you can sign up for more than one meetup!</p>
  <p><a href="{% url 'meetups' %}" class="btn">Explore our Meetups</a></p>
   <p>Got questions or can't make it? Please <a href="{{organizer_email}}">contact the organizer</a> ahead of time!</p>
</section>


{% endblock %}



 