<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
</head>
<body>
    {% if username_empty %}
     <p>Username is Empty..Ty Again</p>  
    {% endif %}


    <form method="POST">
        {% csrf_token %}
        {{form}}
        <button>Submit</button>
    </form>
</body>
</html>


<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
</head>
<body>
    <form method="POST"> // Without the csrf_token will raise forbidden error
        <label for="username">Your Username</label>
        <input id="username" type="text" name="username"></input>
        <button>Submit</button>
    </form>
</body>
</html>











-->